<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode, 'p-6': fullWidthMode }">
    <img
      class="mx-auto my-3 h-[200px]"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
      alt="product image"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>Schuhe</h5>
        <p class="truncate hover:whitespace-normal">Sneakers</p>
        <p *ngIf="fullWidthMode">Beschreibung</p>
      </div>
      <div class="flex justify-between px-1">
        <span class="text-red-400">{{ "150" | currency }}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
