<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <article [ngClass]="{ 'flex p-6 h-auto': fullWidthMode }">
    <img
      class="mx-auto my-3 h-[200px] sm:h-[200px] w-full object-center object-contain" 
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px] my-0': fullWidthMode }"
      src="https://via.placeholder.com/300x360"
      alt="product image"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>Schuhe</h5>
        <p class="truncate hover:whitespace-normal">Sneakers</p>
        <p *ngIf="fullWidthMode">Beschreibung</p>
      </div>
      <div class="flex justify-between px-1" [ngClass]="{'px-0': fullWidthMode}">
        <span class="text-red-400">{{ "150" | currency }}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </article>
</mat-card>
